doctype html
html(lang="en")
	head
		title Lord of the Rings LCG Deck Builder
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		#app
		script(src=publicPath + "bundle.js")
		